body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: rgb(208, 219, 205);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  background-color: rgb(10, 175, 10);
  min-height: 15vh;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.name {
  padding: 0.1px;
  margin: auto 5vw auto 2.5vw;
}

.pages {
  display: flex;
  gap: 2.5vw;
}

.page {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

.page > h3 {
  font-weight: normal;
}

.icons {
  display: flex;
  margin-left: auto;
  gap: 2vw;
  margin: auto 2.5vw auto auto;
}

.icon {
  padding: 1vw;
}

.container {
  margin: 10vh 7.5vw;
}

.content {
  display: flex;
}

.citron > h4 {
  margin: 1vh 1vw 0 1vw;
}

.citron > img {
  max-width: 40vw;
  margin: 2.5vh 0 0 5vw;
}

.buying {
  background-color: white;
  margin: 0 2.5vw 0 auto;
  min-width: 22.5vw;
  max-width: 25vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.buyHeader {
  display: flex;
}

.title > h2 {
  margin: 2.5vh 2vw 0.5vh 2vw;
  font-size: 2em;
}

.title > h3 {
  font-weight: normal;
  margin: 0.5vh 2vw 2.5vh 2vw;
  font-size: 1.5em;
}

.price {
  margin: 0.5vh 2.5vw 0.5vh auto;
  color: red;
  font-size: 1.5em;
}

.descriptionCitron {
  margin: 0.5vh 2vw 0.5vh 2vw;
}

.sepBuying {
  margin: auto 0 1vh 0;
  width: 100%;
}

.buyButton {
  display: flex;
  justify-content: space-around;
}

.currNb {
  font-size: 1.5em;
  max-width: 10vw;
  margin: 1vh 1vw;
  text-align: center;
  border: none;
}

.addToCart {
  min-width: 100%;
  padding: 2.5vh 5vw;
  margin: 2.5vh 0 0 0;
  background-color: rgb(52, 90, 204);
  border: none;
  color: white;
  font-size: 1.5em;
}
